{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_berufsbildung/einsatz_timeline

    Alle Einsaetze des Versetzungsplans chronologisch: wo die lernende
    Person war, wo sie ist, wo sie hinkommt.

    Jedes Semester ist ein eigener Aufklapper, offen ist das laufende: ueber
    die ganze Lehrzeit hat ein Plan rund sechzig Einsaetze, und die Fragen
    an die Liste betreffen immer nur ein Semester. Zugeklappt heisst nicht
    versteckt - der ganze Plan bleibt mit einem Klick je Semester
    erreichbar. Natives <details>, kein JavaScript, wie in
    lernenden_kachel und kompetenz_auswahl.

    Ohne Semestergrenzen (hasname = false) gibt es nichts zu falten; dann
    steht die Liste wie bisher durchgehend da. Die Eintraege selbst stehen
    in einsatz_timeline_eintraege, weil beide Faelle sie brauchen.

    Context variables required for this template:
    * gruppen - array of {hasname, name, anzahl, istoffen, eintraege}
    * eintraege - array of {blockname, zeitraum, haskw, kw, istvergangen, istaktuell, istkommend}
    * titel - string, Ueberschrift der Liste

    Example context (json):
    {
        "titel": "Versetzungsplan",
        "gruppen": [
            {
                "hasname": true,
                "name": "1. Semester",
                "anzahl": "8 Einsätze",
                "istoffen": true,
                "eintraege": [
                    {
                        "blockname": "Montage",
                        "zeitraum": "02.02.26 bis 27.03.26",
                        "haskw": true,
                        "kw": "KW 06-13",
                        "istvergangen": false,
                        "istaktuell": true,
                        "istkommend": false
                    }
                ]
            }
        ]
    }
}}
<div class="local-berufsbildung-timeline">
    <h3 class="h5 mb-3">{{titel}}</h3>
    {{#gruppen}}
        {{#hasname}}
            <details class="local-berufsbildung-timeline-gruppe border-top"{{#istoffen}} open{{/istoffen}}>
                <summary class="local-berufsbildung-timeline-gruppenkopf">
                    <span class="local-berufsbildung-timeline-chevron text-muted" aria-hidden="true">
                        <i class="icon fa fa-chevron-right fa-fw m-0"></i>
                    </span>
                    <span class="local-berufsbildung-timeline-gruppenname h6 mb-0">{{name}}</span>
                    <span class="local-berufsbildung-timeline-gruppenanzahl text-muted small">{{anzahl}}</span>
                </summary>
                {{> local_berufsbildung/einsatz_timeline_eintraege }}
            </details>
        {{/hasname}}
        {{^hasname}}
            {{> local_berufsbildung/einsatz_timeline_eintraege }}
        {{/hasname}}
    {{/gruppen}}
</div>
