{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_berufsbildung/lernenden_kachel

    Eine Roster-Kachel: kompakte Zusammenfassung als <summary>, volle
    Details erst bei Bedarf ausgeklappt - natives <details>-Element,
    kein JavaScript noetig.

    Context variables required for this template:
    * name - string
    * initialen - string, z.B. "EF"
    * hatstand - bool
    * ausbildungsstand - string, nur wenn hatstand
    * stepper - string, bereits gerendertes HTML, nur wenn hatstand
    * hasluecken - bool
    * anzahlluecken - int
    * anzahltaetigkeiten - int
    * detailhtml - string, bereits gerendertes HTML fuer den ausgeklappten Bereich

    Example context (json):
    {
        "name": "Elena Furrer",
        "initialen": "EF",
        "hatstand": true,
        "ausbildungsstand": "PM_EFZ, 3. Lehrjahr (Semester 5)",
        "stepper": "<span class=\"local-berufsbildung-stepper\"></span>",
        "hasluecken": true,
        "anzahlluecken": 2,
        "anzahltaetigkeiten": 9,
        "detailhtml": "<p>...</p>"
    }
}}
<details class="local-berufsbildung-kachel card mb-3">
    <summary class="local-berufsbildung-kachel-summary card-body">
        <span class="local-berufsbildung-kachel-avatar bg-light text-dark border" aria-hidden="true">{{initialen}}</span>
        <span class="local-berufsbildung-kachel-info">
            <span class="local-berufsbildung-kachel-name">{{name}}</span>
            {{#hatstand}}
                <span class="d-block text-muted small">{{ausbildungsstand}}</span>
                {{{stepper}}}
            {{/hatstand}}
        </span>
        <span class="local-berufsbildung-kachel-badges">
            {{#hasluecken}}
                <span class="badge bg-light text-dark border">
                    <i class="icon fa fa-lightbulb fa-fw" aria-hidden="true"></i> {{anzahlluecken}}
                </span>
            {{/hasluecken}}
            <span class="badge bg-light text-dark border">
                <i class="icon fa fa-tasks fa-fw" aria-hidden="true"></i> {{anzahltaetigkeiten}}
            </span>
        </span>
        <span class="local-berufsbildung-kachel-chevron" aria-hidden="true">
            <i class="icon fa fa-chevron-down fa-fw"></i>
        </span>
    </summary>
    <div class="local-berufsbildung-kachel-detail card-body border-top">
        {{{detailhtml}}}
    </div>
</details>
