{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_berufsbildung/luecken_liste

    Luecken-Analyse: nur ein Vorschlag fuer die Ausbildungsplanung, nie
    eine Festlegung (Architekturregel 6) - deshalb bewusst als dezenter
    Hinweis, nicht als Warnung/Fehler.

    Nach Handlungskompetenzbereich gruppiert und mit Bezugsgroesse; die
    kompakte Variante zeigt nur die Zusammenfassung.

    Context variables required for this template:
    * hasluecken - bool
    * anzahl - int, Anzahl offener Handlungskompetenzen ueber alle Bereiche
    * zusammenfassung - string, "x von y abgedeckt"
    * bereiche - array of {name, abdeckung, istvollstaendig, hasluecken, kompetenzen: [{shortname}]}
    * kompakt - bool, nur die Zusammenfassung ohne Bereichsaufschluesselung
    * titel - string, aria-label fuer die Kompetenzenliste
    * keinetext - string, wenn keine Luecken vorhanden sind

    Example context (json):
    {
        "hasluecken": true,
        "anzahl": 2,
        "zusammenfassung": "22 von 24 abgedeckt",
        "kompakt": false,
        "titel": "Noch nicht ausgebildete Pflicht-Handlungskompetenzen",
        "keinetext": "Alle Pflicht-Handlungskompetenzen des Rahmens sind bereits abgedeckt.",
        "bereiche": [
            {
                "name": "a Aufträge bearbeiten",
                "abdeckung": "4 von 6 abgedeckt",
                "istvollstaendig": false,
                "hasluecken": true,
                "kompetenzen": [{"shortname": "a4 Material disponieren"}, {"shortname": "a5 Termine abstimmen"}]
            }
        ]
    }
}}
<div class="local-berufsbildung-luecken">
    {{#hasluecken}}
        <p class="mb-1">
            <span class="badge bg-light text-dark border">
                <i class="icon fa fa-lightbulb fa-fw" aria-hidden="true"></i>
                {{#str}} luecken:titel_anzahl, local_berufsbildung, {{anzahl}} {{/str}}
            </span>
            <span class="small text-muted ml-1">{{zusammenfassung}}</span>
        </p>
        {{^kompakt}}
            <ul class="local-berufsbildung-luecken-bereiche list-unstyled small mb-2" aria-label="{{titel}}">
                {{#bereiche}}
                    <li class="local-berufsbildung-luecken-bereich mb-1">
                        <span class="local-berufsbildung-luecken-bereichname">{{name}}</span>
                        <span class="text-muted ml-1">{{abdeckung}}</span>
                        {{#hasluecken}}
                            <ul class="local-berufsbildung-luecken-liste text-muted mb-0">
                                {{#kompetenzen}}
                                    <li>{{shortname}}</li>
                                {{/kompetenzen}}
                            </ul>
                        {{/hasluecken}}
                    </li>
                {{/bereiche}}
            </ul>
        {{/kompakt}}
    {{/hasluecken}}
    {{^hasluecken}}
        <p class="small text-muted mb-2">{{keinetext}}</p>
    {{/hasluecken}}
</div>
